.mainContainer {
  display: flex;
  /* background-color: red; */
  width: 100vw;
  height: 100vh;
  /* background-image: url(../public/image/back2.jpg); */
  background: linear-gradient(
    229deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(33, 36, 37, 1) 100%
  );
}

.subContainer {
  position: relative;
  height: 100vh;
  width: 100vw;
  box-shadow: -10px 0px 80px -7px #000000, 10px 0px 13px -7px #000000,
    -4px -4px 15px 7px rgba(0, 0, 0, 0);
  transform-origin: left;
  transition: all 0.3s ease-in-out;
}

.showNavBar {
  transform: perspective(200px) rotateY(-2deg) translate(300px) scale(0.95);
}
