.test {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
}

.mainContainer {
  width: 100%;
  height: 95%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.subContainer {
  width: 100%;
  height: 0%;
  border-radius: 15px;
  border: 1px solid mediumaquamarine;
  animation: boxExtend 0.5s forwards;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
}

@keyframes boxExtend {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

.inner {
  flex: 1;
  /* background-color: rgb(187, 224, 133); */
  margin: 30px;
  overflow-y: scroll;
}

.wholeContentsArea {
  height: 100%;
  /* background-color: antiquewhite; */
}

.pageIntroArea {
  width: 100%;
  height: 100%;
  /* background-color: grey; */
  display: flex;
}

.imgSection {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100px; */
  /* background-color: red; */
}

.imgSection img {
  width: 700px;
  position: relative;
  top: 0px;
  left: 0px;
  /* animation: fly-in 0.8s ease-in-out forwards; */
  animation-delay: 0.5s;
  /* border: 1px solid purple; */
  transform: rotate(30deg);
}

@keyframes fly-in {
  0% {
    left: -800px;
    opacity: 0;
  }
  30% {
    left: -30px;
    opacity: 1;
  }
  60% {
    left: -20px;
    opacity: 1;
  }
  65% {
    left: -18px;
    opacity: 1;
  }
  70% {
    left: -16px;
    opacity: 1;
  }
  75% {
    left: -14px;
    opacity: 1;
  }
  80% {
    left: -12px;
    opacity: 1;
  }
  85% {
    left: -10px;
    opacity: 1;
  }
  90% {
    left: -8px;
    opacity: 1;
  }
  95% {
    left: -6px;
    opacity: 1;
  }
  96% {
    left: -5px;
    opacity: 1;
  }
  97% {
    left: -4px;
    opacity: 1;
  }
  98% {
    left: -3px;
    opacity: 1;
  }
  99% {
    left: -2px;
    opacity: 1;
  }
  100% {
    left: 1200px;
    opacity: 1;
  }
}

.textSection {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textSection P:nth-child(1) {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  color: rgb(147, 193, 178); /* 좋은데? */
  font-family: "NanumSquare", sans-serif;
}

.textSection p:nth-child(2) {
  line-height: 40px;
  font-size: 15px;
  font-family: "NanumSquare", sans-serif;
}

.textSection p:nth-child(2) span {
  color: rgb(147, 193, 178);
  font-weight: 700;
}

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width: 480px) and (max-width: 767px) {
  .pageIntroArea {
    flex-direction: column;
  }

  .imgSection {
    width: 100%;
  }

  .textSection {
    width: 100%;
  }
}
